<h1>
    Listado de Reservas</h1>
<hr>

<div class="row animated fadeIn faster">
    <div class="col">
        <form class="needs-validation" novalidate>

            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="validationCustom04">Restaurante</label>
                    <select class="custom-select" id="validationCustom04" name="rest" [(ngModel)]="rest" required>
                          <option [ngValue]="r" *ngFor="let r of restaurantes">{{ r.nombre }}</option>
                        </select>
                    <div class="invalid-feedback">
                        Please select a valid state.
                    </div>
                </div>
                <!-- {{ rest?.id }} -->

                <div class="col-md-3 mb-3">
                    <label for="validationCustom04">Fecha</label>
                    <input name="date" type="date" name="fecha" [(ngModel)]="fecha" max="3000-12-31" min="1000-01-01" class="form-control">

                </div>

                <div class="col-md-3 mb-3">
                    <label for="validationCustom04">Cliente</label>
                    <input type="number" name="cedula" [(ngModel)]="cedula" class="form-control" id="inputPassword4">

                    <div class="invalid-feedback">
                        Please select a valid state.
                    </div>
                </div>
                <!--{{ horaInicio }} -->



            </div>
        </form>

    </div>

</div>



<div class="row">
    <div class="col text-right">
        <button (click)="buscar()" class="btn btn-success mr-2">
            <i class="fas fa-search"></i>  Buscar</button>

        <button (click)="restaurar()" class="btn btn-warning mr-2">
                    <i class="fas fa-recycle"></i> Restaurar</button>

        <button routerLink="/reserva/" class="btn btn-primary">
            <i class="fas fa-plus"></i> Agregar
        </button>

    </div>

</div>

<table class="table mt-3 animated fadeIn faster">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Restaurante</th>
            <th scope="col">Cliente</th>
            <th scope="col">CI cliente</th>
            <th scope="col">Mesa</th>
            <th scope="col">Fecha</th>
            <th scope="col">Hora inicio</th>
            <th scope="col">Hora fin</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of reservas | paginate:{itemsPerPage: 5, currentPage:page}; let i = index">
            <th scope="row">{{ i+1 }}</th>
            <td>{{r.restaurante.nombre}}</td>
            <td>{{ r.cliente.nombre +' ' +r.cliente.apellido}}</td>
            <td>{{ r.cliente.cedula }}</td>
            <td>{{ r.mesa.nombre_mesa }}</td>
            <td>{{ r.fecha | date:'longDate'}}</td>
            <td>{{ r.horaInicio }}</td>
            <td>{{ r.horaFin }}</td>
        </tr>
    </tbody>
</table>

<div *ngIf="!cargando && reservas.length === 0" class="alert alert-warning text-center mt-3">
    <h4 class="alert-heading">No hay resgistros</h4>
    <p>
        <i class="fa fa-exclamation  fa-2x"></i>
    </p>
</div>

<div *ngIf="cargando" class="alert alert-info text-center mt-3">
    <h4 class="alert-heading">Cargando</h4>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">
        Espere por favor
    </p>
</div>

<div class="text-right">
    <pagination-controls (pageChange)="page=$event"></pagination-controls>
</div>