<h1>
    Registrar Reserva</h1>
<hr>

<div class="row text-right">
    <div class="col">
        <button class="btn btn-danger" routerLink="/reservas">
            <i class="fas fa-arrow-left"></i> Regresar
        </button>
    </div>

</div>

<div class="row animated fadeIn faster">
    <div class="col">
        <form class="needs-validation" novalidate>

            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="validationCustom04">Restaurante</label>
                    <select class="custom-select" id="validationCustom04" name="rest" [(ngModel)]="rest" required>
                          <option [ngValue]="r" *ngFor="let r of restaurantes">{{ r.nombre }}</option>
                        </select>
                    <div class="invalid-feedback">
                        Please select a valid state.
                    </div>
                </div>
                <!-- {{ rest?.id }} -->

                <div class="col-md-3 mb-3">
                    <label for="validationCustom04">Fecha</label>
                    <input name="date" type="date" name="fecha" [(ngModel)]="fecha" max="3000-12-31" min="1000-01-01" class="form-control">

                </div>

                <div class="col-md-3 mb-3">
                    <label for="validationCustom04">Hora inicio</label>
                    <select class="custom-select" id="validationCustom04" name="horaInicio" [(ngModel)]="horaInicio" required>
                          <option [value]="h" *ngFor="let h of hora">{{ h }}</option>
                          
                        </select>
                    <div class="invalid-feedback">
                        Please select a valid state.
                    </div>
                </div>
                <!--{{ horaInicio }} -->
                <div class="col-md-3 mb-3">
                    <label for="validationCustom04">Hora fin</label>
                    <select class="custom-select" id="validationCustom04" name="horaFin" [(ngModel)]="horaFin" required>
                          <option [value]="h2" *ngFor="let h2 of hora">{{ h2 }}</option>
                          
                        </select>
                    <div class="invalid-feedback">
                        Please select a valid state.
                    </div>
                </div>


            </div>
        </form>

    </div>

</div>

<div class="row">
    <div class="col text-right">
        <button class="btn btn-success mr-2" (click)="buscarMesas()">
            <i class="fas fa-search"></i>  Buscar mesa</button>

    </div>

</div>



<table class="table mt-3 animated fadeIn faster">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col" class="text-center">Mesa</th>
            <th scope="col" class="text-center">Capacidad Comensales</th>
            <th scope="col" class="text-center">Selecionar Cliente</th>
            <th scope="col" class="text-center">Selecionar Cantidad</th>
            <th scope="col" class="text-center">Accion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let m of mesas | paginate:{itemsPerPage: 5, currentPage:page}; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td class="text-center">{{ m.nombre_mesa }}</td>
            <td class="text-center">{{ m.capComensales }}</td>
            <td class="text-center">

                <button (click)="getClientes()" type="button" class="btn btn-warning mr-2" data-toggle="modal" data-target="#exampleModal2">
                    Buscar
                   </button>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                 Registrar
                </button>

            </td>
            <td class="text-center">

                <div>
                    <input type="number" name="cantidad" [(ngModel)]="cantidad" class="form-control" id="inputEmail4">
                </div>

            </td>
            <td class="text-center"><button (click)="crearReserva(i)" class="btn btn-success">
                Reservar</button></td>


        </tr>
    </tbody>


</table>

<div *ngIf="!cargando && mesas.length === 0" class="alert alert-warning text-center mt-3">
    <h4 class="alert-heading">No hay resgistros</h4>
    <p>
        <i class="fa fa-exclamation  fa-2x"></i>
    </p>
</div>

<div *ngIf="cargando" class="alert alert-info text-center mt-3">
    <h4 class="alert-heading">Mesas Disponibles</h4>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">
        Busque las mesas para reservar
    </p>
</div>

<div class="text-right">
    <pagination-controls (pageChange)="page=$event"></pagination-controls>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registrar Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Datos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                <form>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="inputEmail4">Nombre</label>
                                            <input type="text" name="nombre" [(ngModel)]="nombre" class="form-control" id="inputEmail4">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputPassword4">Apellido</label>
                                            <input type="text" name="apellido" [(ngModel)]="apellido" class="form-control" id="inputPassword4">
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label for="inputPassword4">Cedula</label>
                                            <input type="number" name="cedula" [(ngModel)]="cedula" class="form-control" id="inputPassword4">
                                        </div>
                                    </div>
                                </form>
                            </th>

                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button (click)="registrarCliente()" type="button" class="btn btn-primary" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Buscar Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="validationCustom04">Seleccionar cliente</label>
                        <select class="custom-select" id="validationCustom04" name="cli" [(ngModel)]="cli" required>
                              <option [ngValue]="c" *ngFor="let c of clientes">{{ c.nombre + ' ' + c.apellido }}</option>
                            </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Buscar por cedula</label>
                        <input type="number" name="cedula" [(ngModel)]="cedula" class="form-control" id="inputPassword4">
                        <label for="inputPassword4">{{ clienteNombre }}</label>

                        <div class="mt-3">
                            <button (click)="buscarClientePorCedula()" type="button" class="btn btn-success">Buscar</button>

                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Sleccionar</button>
                </div>
            </div>
        </div>
    </div>